body {
    background-color: black;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    color: rgb(60,62,59);
}

#pause-text {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100;
    color: rgb(150, 168, 140);
    text-align: center;
}

#game-over-text {
    position: absolute;
    top: 100px;
    left: 90px;
    z-index: 100;
    color: rgb(150, 168, 140);
    text-align: center;
}